.card {
  border: solid var(--border-color) var(--border-width);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
  width: 20vw;
  text-align: left;
  margin-bottom: var(--spacing-medium);
  cursor: pointer;
  padding: var(--spacing-small);
}
