.footer {
  background-color: var(--heading-color);
  color: var(--secondary-text-color);
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  width: 100%;
}

.footer > p {
  font-weight: var(--font-weight-bold);
}

.footerCredits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-large);
}
