.btn {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  flex-shrink: 0;
  cursor: pointer;
  width: clamp(5rem, 15vw, 10rem);
  height: clamp(1rem, 5vh, 3rem);
}

.btn:hover {
  filter: brightness(90%);
}
.btn:active {
  filter: brightness(120%);
}

.btnIcon {
  stroke-width: 1;
  border: none;
}
