.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 80%;
}

.form__item {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.form__input {
  border-radius: var(--spacing-small);
  border: solid var(--border-color) var(--border-width);
}

.form__label {
  font-weight: var(--font-weight-bold);
}
