.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.taskList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.taskList__counter {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color-darker);
  padding: var(--spacing-small);
  border-radius: 100%;
  line-height: 1;
}
