.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem;
  min-width: 20vw;
  max-height: 70vh;
  padding: 0 var(--spacing-medium);
  overflow: auto;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-medium);
  margin-bottom: calc(var(--spacing-medium) * -1);
  min-height: 80%;
}

.taskList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.taskList__counter {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color-darker);
  padding: var(--spacing-small);
  border-radius: 100%;
  line-height: 1;
}
